* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #282D35;
    font-family: Inter, sans-serif;
}

nav {
    display: flex;
    align-items: center;
    background-color: #21222A;
    height: 90px;
    padding: 30px 25px;
}

.nav--logo_text, .nav--title {
    margin: 0;
}

.nav--logo_text {
    margin-right: auto;
    color: #61DAFB;
    font-weight: 700;
    font-size: 22px;
}

.nav--title {
    color: #DEEBF8;
    font-weight: 600;
}

.nav--icon {
    height: 30px;
    margin-right: 7px;
}

.main-content{
    /* display: flex; */
    /* position: relative; */
    padding:57px 27px;
    color: #FFFFFF;
}

.main-heading{
    margin: 0;
    font-size: 39.06px;
    letter-spacing: -0.05em;
    /* font-weight: 700; */
}

.main-list{
    margin-top: 46px;
    /* height: 190px; */
    /* margin-bottom: 20.36px; */
    /* font-weight: 400; */
    /* font-size: 16px; */
}

.main-list > li{
    /* height: 20.36px; */
    padding-block: 10px;
    line-height: 19px;  
}

.main-list>li::marker{
    font-size: 1.4rem;
    color: #61DAFB;
}